<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
                {% load staticfiles %}
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="NDKOPACZ" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,600italic' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
		<script type="text/javascript" src="{% static "scripts.js" %}"></script>
		<link rel="stylesheet" href="{% static "style.css" %}">
		<title>KBDBS</title>
	</head>
	<body>
		<header>
			<div class="wrap">
				<nav>
					<ul id="top-menu">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About us</a></li>
						<li><a href="#team">Our team</a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					<div id="pull">
				        <span class="btn">Menu</span>
				    </div>
				</nav>
			</div>
		</header>
		<section id="home">
			<img src="{% static "logo.png" %}" alt="Your logo" />
			<h1 class="strokeme">Kopacz Boyer Design Build Services, LLC.</h1>
		</section>
		<section id="about">
			<div class="wrap">
				<h2>About us</h2>
				<p>Kopacz-Boyer Design Build Services, LLC (KBDBS, LLC), a Service-Disabled Veteran Owned Small Business, has been in operation since October 2015.  KBDBS, LLC is a full service company offering design/build, engineering, electrical contracting, general contracting and construction management services.  The principle members of the organization together have over 80 years of experience with Federal government and design/build projects.  We know how to meet cost, schedule and performance requirements.  Maintaining our reputation for timeliness, quality and professionalism is our priority.</p>
				<p>We have Technical Expertise and Experience. KBDBS owners have won, mobilized and/or managed numerous successful IDIQ contracts (SABERs, SATOCs, MATOCs, MACCs, JOCs) including Cheyenne Mountain AFB, Schriever AFB, Peterson AFB, Ft. Carson Army Post, United States Air Force Academy, Buckley AFB, FE Warren AFB, and Cannon AFB.</p>
				<p>Project management also includes projects outside the continental US. KBDBS personnel includes a General Contractor (Commercial), registered Professional Engineer (electrical), Master Electrician/Electrical Contractor, Project Management Professional (PMP), LEED GA, and MBA. Staff also skilled in estimating software, scheduling software, computer aided drafting, specification writing, and contract management.</p>
                                <p>We have a full complement of qualified subcontractors to augment our in-house capabilities, enabling us to meet all contract requirements.</p>
			</div>
		</section>
		<section>
		</section>
		<section id="team">
			<div class="wrap">
				<h2>Meet the team</h2>
				<div class="col7 first">
					<img src="{% static "JKopacz.PNG" %}" alt="Team member" />
					<p class="name">Joe Kopacz</p>
					<p class="title">CEO</p>
				</div>
				<div class="col7">
					<img src="{% static "BBoyer.PNG" %}" alt="Team member" />
					<p class="name">Brad Boyer</p>
					<p class="title">VP of Operations</p>
				</div>
				<div class="col7">
					<img src="{% static "AKopacz.PNG" %}" alt="Team member" />
					<p class="name">Annette Kopacz</p>
					<p class="title">VP of Engineering and Design</p>
				</div>
				<div class="col7">
					<img src="{% static "DBoyer.PNG" %}" alt="Team member" />
					<p class="name">Darlene Boyer</p>
					<p class="title">VP of Finance and Personnel</p>	
				</div>
			</div>
		</section>
		<section>
		</section>
		<section id="services">
			<div class="wrap">
				<h2>Services</h2>
				<div class="col3 first">
					<h3>236220 - Commercial and Institutional Buildings</h3>
					<p>Our team of highly qualified professionals provides expertise in general contracting and construction management.  We are proficient in the entire design build process including preplanning, site logistics, and even constructability reviews.  Our thorough estimating processes ensures we will meet cost and schedule while achieving performance requirements.</p>
				</div>
				<div class="col3">
					<h3>238210 - Electrical Contractors</h3>
					<p>We provide professional engineering services with over 30 cumulative years of experience in LEED Compliant Construction.  KBDBS seeks energy efficient solutions such as LED lighting design in addition to conventional lighting design.  Additional services include power and communication line and related structure construction; and fire alarm installation combined with sales, maintenance, or monitoring services.</p>
				</div>
				<div class="col3 last">
                                        <h3>Additional NAICS</h3>
					<ul class="columns">
                                            <li>236115 - New Single-Family Housing Construction</li>
                                            <li>237110 - Water, Sewer Line &amp; Related Structures</li>
                                            <li>237120 - Oil and Gas Pipeline and Related Structures</li>
                                            <li>237130 - Power and Communication Line</li>
                                            <li>237310 - Highway, Street, and Bridge Construction</li>
                                            <li>237990 - Other Heavy and Civil Engineering</li>
                                            <li>238110 - Poured Concrete Foundation and Structure</li>
                                            <li>238130 - Framing Contractors</li>
                                            <li>238140 - Masonry Contractors</li>
                                            <li>238150 - Glass and Glazing Contractors</li>
                                            <li>238190 - Other Foundation, Structure, Building Exterior</li>
                                            <li>238220 - Plumbing, Heating, and Air-Conditioning</li>
                                            <li>238290 - Other Building Equipment Contractors</li>
                                            <li>238310 - Drywall and Insulation Contractors</li>
                                            <li>238320 - Painting and Wall Covering Contractors</li>
                                            <li>238910 - Site Preparation Contractors</li>
                                            <li>238990 - All Other Specialty Trade Contractors</li>
                                            <li>541310 - Architectural Services</li>
                                            <li>541330 - Engineering Services</li>
                                            <li>541410 - Interior Design Services</li>
                                            <li>541519 - Other Computer Related Services</li>
                                            <li>561730 - Landscaping Services</li>
                                            <li>562910 - Remediation Services</li>
                                        </ul>
				</div>
			</div>
		</section>
                        		<section>
		</section>
		<section id="contact">
			<div class="wrap">
				<h2>Contact Us</h2>
				<!--<div class="col2 first">
					Street Name XX<br />
					Floor YY<br />
					City Name, Country<br /><br />
					Telephone: +00 000 000 000<br />
					Mobile: +00 000 000 000<br />
					E-mail: mail@mail.com
				</div>-->
				<div class="col4">
					<form class="contactform">
						<label class="col1 first" for="name">Name:</label>
						<input type="text" name="name" id="name" class="col2" />
						<label class="col1" for="email">E-mail:</label>
						<input type="text" name="email" id="email" class="col2" />
						<div class="clearfix"></div>
						<label class="col1 first" for="message">Message:</label>
						<textarea class="col5" rows="5" name="message" id="message"></textarea>
						<input class="button clearfix" type="button" value="Send message" />
					</form>
				</div>
			</div>
		</section>
	</body>
</html>
